celery==5.2.3
Django==3.2.9
django-celery-results==2.3.0
django-cors-headers==3.13.0
django-crispy-forms==1.14.0
django-decouple==2.1
django-decorator-include==3.0
django-storages==1.12.3
django-tinymce==3.4.0
gunicorn==20.0.4
psycopg2-binary==2.9.3
tweepy==4.10.0
twint==2.1.20
sendgrid==6.9.7
stripe==3.5.0
uvicorn==0.17.5