{% extends 'base.html' %}
{% block links %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
{% endblock %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}   
<section class="dashboard">
    <!-- Content Wrapper -->
    <header>
        <div class="page-title">
            <h3>
            ハッシュタグ
            </h3>
            <div>
                ユーザーID:{{ user.id }}
            </div>
        </div>
    </header>
    <div class="">
        <!-- Begin Page Content -->
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card shadow userlist">
                        <div class="add-btn">
                            <button data-toggle="modal" data-target="#editmodal" class="btn btn-primary btn-sm" ><i class="fa fa-plus"></i>ハッシュタグ追加
                            </button>
                            <div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4>ハッシュタグ追加</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <form action="" method="POST" enctype="multipart/form-data">   
                                        <div class="modal-body">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label>タグ名</label>
                                                <input type="text" class="form-control" name="keyword" placeholder="sport">
                                            </div>
                                        </div>                                     
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">キャンセル</button>
                                        <button type="submit" class="btn btn-primary">追加</button>
                                        </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-hover table-scrollable">
                            <thead class="card-header py-3">                                
                                <th>No</th>
                                <th>タグ名</th>
                                <th></th>
                            </thead>
                            <tbody>                                
                                {% for hashtag in hashtags %}
                                <tr>
                                    <td>{{ forloop.counter}}</td>
                                    <td>{{ hashtag.keyword }}</td>
                                    <td><button data-toggle="modal" data-target="#deletemodal_{{ hashtag.id }}" class="btn btn-danger btn-sm" ><i class="fa fa-times"></i></button>
                                        <div class="modal fade" id="deletemodal_{{ hashtag.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5>【{{hashtag.keyword}}】を本当に削除しますか?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <form action="{% url 'core:hashtagdelete' pk=hashtag.id %}" method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}                                        
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">キャンセル</button>
                                                    <button type="submit" class="btn btn-primary">OK</button>
                                                    </div>
                                                </form>
                                            </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>                            
                        </table>
                    </div>
                </div>
            </div>           
        </div>
    </div>   
    
    <!-- Content Wrapper End -->
</section>
{% endif %}
{% endblock content %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.20/sorting/datetime-moment.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
       
        $.fn.dataTable.moment( 'ddd, DD MMM, YYYY' );
        $('div.userlist table.table').dataTable(
            {
                "scrollX": true,
                "scrollY": "700px",
                "scrollCollapse": true,
                "paging":         true,
                bAutoWidth: false,
                "language":{
                    "url": "//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Japanese.json"
                }
            }
        );        
        
    } );
</script>
{% endblock %}